/* HTML elements */
body {
	background: #cd7f01 url(../img/bg-mobile.jpg) repeat-x;
	color: #000;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	-webkit-text-size-adjust: none;
}
a, 
a:visited { 
	color: #6dab00; 
	text-decoration: none; 
}
a.rev, 
a.rev:visited { 
	color: #ff0; 
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 { 
	color: #6dab00; 
	margin: 0; 
	padding: 0; 
}
h2 { 
	font-size: 18px; 
	font-weight: bold; 
}
h3 { 
	font-size: 14px; 
}
img { 
	border: 0; 
}

table {
	background: #fff;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* IDs and classes */
#page {
	margin: 0;
	position: relative;
}
#content {
	margin: 0;
	padding: 0;
}
#content-top {
	color: #ffff00;
	font-size: 28px;
	padding: 5px 10px 0;
	text-shadow: 1px 1px 1px #000;
}
#content-top a {
	color: #ffff00;
}
#content-header {
	display: none;
}
#content-header-menu {
	color: #b26b00;
	font-size: 14px;
	padding: 0 10px 4px 10px;
}
#content-body {
	background: #fff;
	border-bottom: 2px solid #b26b00;
	border-top: 2px solid #b26b00;
	margin: 0;
	padding: 10px;
	text-align: left;
}
#content-menu { 
	display: none; 
}

#content-col {  }
	#a1, #b1, #c1 { margin: 0; padding: 0; }
#content-footer { 
	display: none;
}
#foot { 
	color: #fff; 
	margin: 0;
	padding: 5px 10px;
}
#foot_links {
	display: none;
}
#foot #layoutChange {
	float: right;
}
#foot #layoutChange a {
	color: yellow;
}

#mainpic { 
	margin: 10px 0; 
	width: 300px; 
}

.bgshadebeige { 
	background: #ffa; 
}
.bgshadeyel { 
	background-color: #fbfb89; 
}
.headtext-1 { 
	color: #000; 
	font-size: 18px; 
	font-weight: bold; 
}
.showinfo { 
	font-size: 10px; 
}